html {
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
*{
margin: 0;
padding: 0;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none !important;
}
img {
display: block;
max-width: 100%;
}
li  {
    list-style: none !important;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom:0 !important;
    padding: 0 !important;
}
.text-c{
    text-align: center;
}
.mb-10{
    margin-bottom: 10px !important;
}
$c-1:#ec0705;
$c-2:#ffcd01;
$den :#111;
/* =============================HEADER==================================== */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.9)), url(https://images.unsplash.com/photo-1549488344-1f9b8d2bd1f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    color: #fff;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    position:fixed;
    width: 100%;
    height: 100px;
    align-items: center;
    display: grid;
    grid-template-columns: .2fr 1fr 1fr .2fr;
    grid-gap: 10px;
    z-index: 999;
    transition: all .3s ease-in-out;
}
.header.sticky{
    background-color: #fff;
    height:80px;
    color:#111111;
    box-shadow: 0 10px 25px rgba(0, 0, 0,0.4);
    .btn-menu span{
        background:#111111 !important;
    }
    .brand{
        color: #111111;
    }
    .menu .menu-link{
        color:#111111;
    }
}
.btn-menu{
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    margin: auto;
    border:none;
    z-index: 1000;
    background:transparent;
    span{
        position: relative;
        width: 100%;
        height: 2px;
        background:#fff;
        display: block;
        margin-bottom: 5px;
        top:0;
        transition: all .3s ease-in-out;
    }
    span:nth-child(2){
        width: 70%;
        left: 0;
    }
    span:nth-child(3){
        width: 50%;
    }
    &.active span:nth-child(1){
        transform:rotate(30deg);
        top:8px;
    }
    &.active span:nth-child(2){
        opacity: 0;
        transform:rotate(30deg);
        left:-100%;
    }
    &.active span:nth-child(3){
        transform:rotate(-30deg);
        width: 100%;
        top:-6px;
    }
}


.brand{
    display: flex;
    justify-content: center;
    color:#fff;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    &-heading{
        font-size:40px;
    }
}
.menu{
    display: flex;
    align-items: center;
    height: 100%;
    transition: all .3s ease-in-out;
    margin-left: 50px;
    left: 0 !important;
    &-link{
        color:#fff;
        font-weight: 700;
        margin-right: 50px;
        &:hover{
            color:$c-1 !important;
        }
    }
    

}
.user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    .cart{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .login{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        overflow: hidden;
        
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.header-layout {
    padding-top: 5rem;
    height: auto;
    width: 100%;
    position: relative;
    align-items: center;
    display: grid;
    grid-template-columns: .2fr 1fr 1fr .2fr;
    grid-gap:10px;
    .text-left {
        position:relative;
        display: flex;
        height:0;
        width: 0;
        top:50%;
        left:25%;
        transform:rotate(-90deg) translateX(40px);
        span{
            font-size:20px;
            margin-right: 30px;
        }
    }
    .layout-img {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        .big-img   {
            width: 100%;
            max-width: 450px;
            height:100%;
            max-height: 450px;
            position: relative;
            object-fit: cover;
            border-radius: 100%;
        }
        &::before{
            content: "";
            top: 0%;
            left:50%;
            transform:translate(-50%,-50%);
            width: 70%;
            height: 200%;
            position: absolute;
            background:#1d222c;
            // border-radius: 0 0 50px 50px;
         }
    }
}
.header-content{
    width: 400px;
    margin-left: 50px;
    &-title{
        font-size:3.5rem;
        font-weight: 700;
    }
    
    .btn-order{
        color:#111;
        padding: 5px 15px;
        display: block;
        background: #ffcd01;
        cursor: pointer;
        font-weight: 700;
        width:fit-content;
        border-radius:4px;
        margin-top: 10px;
    }
    
}
.header-product{
    padding: 40px 0px;
    width: 100%;
    height:100%;
    .product-content{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        justify-self: center;
        margin-left: 20px;
    }
    .product-item{
        width: 100%;
        max-width: 200px;
        min-height: 200px;
        height: 100%;
        background: #1d222c;
        border-radius: 10px;
        transition: all .3s linear;
        position: relative;
        cursor: pointer;
        &:hover{
            box-shadow: 0 3px 10px rgba(0,0,0);
            transform:scale(1.1);
        }
    }
    
    .product-desc{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img{
            width: 130px;
            height: 130px;
            border-radius: 100%;
            object-fit: cover;
            transform:translate(-30%,-10%);
            box-shadow: 0 10px 10px rgba(0,0,0);
            transition: all .3s linear;
        }
        .product-price{
            font-size:1.5rem;
            font-weight: 700;
            color:#fff;
        }
    }
    .product-name{
        color:#fff;
        font-size:1.2rem;
        font-weight: 600;
        margin-left: 20px;
    }
    .add-cart{
        width: 10px;
        height: 10px;
        position: absolute;
        bottom:20px;
        right: 20px;
        color: #fff;
        i{
            font-size: 100%;
        }
    }   

}
/* =============================HEADER==================================== */

/* =============================feature==================================== */

.feature{
    min-height: 100vh;
    height: auto;
    padding: 40px;

    &-title{
        text-align: center;
        font-weight: 800;
    }
    &-desc{
        text-align: center;
        margin-bottom: 30px;
    }
    .food-list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
    }
    .food{
        position: relative;
        max-height: 450px;
        overflow: hidden;
        margin: 5px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .5s linear;
        }
        &:hover img{
            transform:scale(1.4) rotate(10deg);
        }   
        &-name{
            position: absolute;
            bottom: 0;
            padding:30px;
            color:#fff;
            font-size: 1.4rem;
            font-weight: 700;
            background:rgba(0,0,0,0.7);
            width:100%;
            height:auto;
            border-top:3px solid $c-2;
            transition: all .5s linear;
        }
        
    }
}



/* =============================feature==================================== */
/* =============================menu==================================== */

.our-menu{
    min-height:100vh;
    padding:40px;
    background: #262626;
    .menu-title{
        text-align: center;
        font-weight: 800;
        color: #fff;
    }
    .menu-desc{
        text-align: center;
        margin-bottom: 30px;
        color: #fff;
    }
    .menu-list{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 170px 70px 170px;
        grid-gap: 20px;
        grid-template-areas: 
        "h1 h1 h2 h2 h5"
        "h1 h1 h3 h3 h5"
        "h4 h4 h3 h3 h5";
    }
    .menu-media{
        width: 100%;
        overflow: hidden;
        height: 100%;
    }
    .menu-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s linear;
    }
    .menu-img:hover{
        transform:scale(1.5) rotate(10deg);
    }
    .menu-media:nth-child(1){
        grid-area: h1;
    }
    .menu-media:nth-child(2){
        grid-area: h2;
    }
    .menu-media:nth-child(3){
        grid-area: h3;
    }
    .menu-media:nth-child(4){
        grid-area: h4;
    }
    .menu-media:nth-child(5){
        grid-area: h5;
    }
}
/* =============================end-menu==================================== */
/* =============================service==================================== */
.services{
    min-height: 100vh;
    padding: 40px;
    margin:auto;
    position: relative;
}
.service{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 0 5px;
    &-title{
        font-size: 45px;
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 20px;
        z-index: 2;
        position: relative;
    }
    &-media{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        padding: 30px 10px 30px 30px;
    }
    &-img{
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        object-fit: cover;
    }
    &-content{
        color: #fff;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        &:before{
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            width: 125%;
            height: 100%;
            background-color: #262626;
        }
    }
    &-item{
        margin-bottom: 25px;
        position: relative;
    }
    i{
        font-size: 1.8rem;
        margin-right: 10px;
    }
    span{
        font-size: 1.2rem;
        text-transform: capitalize;
    }
    .btn-order{
        position: relative;
        color: black;
        font-weight: bold;
        padding:12px 20px;
        display: block;
        width: fit-content;
        background: $c-2;
        border-radius:12px;
        margin-top: 10px;
    }
}



/* =============================end-service==================================== */
/* =============================card==================================== */
.cards{
    width: 100%;
    max-width:1200px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px 0;
    margin:0 auto;
    padding: 50px 20px;
    // min-height: 100vh;
}
.card{
    width:100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #fff;
    transition: all .2s ease;
}
.card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 12px 44px 2px;
}
.card-media{
    width:40%;
    height: 220px;
    position: relative;
    border-radius: inherit;
    overflow: hidden;
    flex-shrink: 0;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.card-number{
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    position: absolute;
    background: #fff;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 2;
}
.card-number i{
    font-size: 15px;
    color:#169dd3;
}

.card-content{
    flex: 1;
    padding-left: 30px;
}
.card-top{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.card-live, .card-category{
    font-size: 13px;
    font-weight: 600;
}
.card-live{
    background-color: #FF754C;
    color: #fff;
    border-radius: 6px;
    padding: 5px 10px;
    margin-right: 10px;
}
.card-live i {
    margin-right: 5px;
}
.card-category{
    color:#169dd3;
    background-color: #169dd338;
    border-radius: 6px;
    padding: 5px 10px;
}
.card-title{
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 15px;
}
.card-info{
    display: flex;
    align-items: center;
}
.card-watch,
.card-time{
    color: #999;
    margin:0 10px 10px 5px;
    font-size: 13px;
}
.card-watch span{
    width: 7px;
    height: 7px;
    background-color: #16e77f;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.card-time span{
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    background-color: #169dd3;
    border-radius: 100%;
    margin-right: 5px;
}
.card-user{
    display: flex;
    align-items: center;
}
.card-user-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 5px;
    object-fit: cover;
}
.card-user-name{
    font-weight: 600;
    font-size: 15px;
    margin-right: 5px;
}
.card-user-name i{
    color:#16e77f;
}
.card-user-desc{
    color:#999;
    font-size: 13px;
}
.card-social{
    display: flex;
    justify-content:center;
    width: 80px;
    height: 100%;
    padding: 8px;
    flex-direction: column;
    border-radius: inherit;
    background-color:#6C5DD3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}
.card:hover .card-social{
    opacity: 1;
    visibility: visible;
}
.card-social-item{
    flex: 1;
    font-size: 20px;
    color:#fff;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    transition: all .2s ease;
}
.card-social-item:hover{
    background-color: rgba(206, 200, 200, 0.699);
}

/* =============================end-card==================================== */

.copy-right {
    padding:20px 30px;
    background:#111111;
    color:#999;
    text-transform: capitalize;
    text-align: center;
}


/* =============================reponsive==================================== */
@media screen and (max-width: 1023px) {
    .header{
        grid-template-columns: .2fr 1fr .2fr;
        padding: 0px 10px;
    }
    .menu{
        position:absolute !important;
        display: block;
        height:0;
        width: 100%;
        background:#fff;
        box-shadow: 0 5px 5px rgba(0,0,0,0.3);
        margin-left: 0;
        left:0;
        top: 80px;
        text-align: left !important;
        z-index: 999;
        .menu-link{
            position: relative;
            padding:10px !important;
            color:#111;
            margin-right: 0 !important;
            font-size: 1.5rem;
            margin-bottom: 10px;
            opacity: 0;
            visibility: hidden;
        }
    }
    .menu.active{
        height:fit-content;
    }
    .menu.active .menu-link{
        opacity: 1;
        visibility: visible;
    }
    .header-content {
        width: 100%;
        margin-left: 0; 
    }
    .header-layout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 20px !important;
    }
    .text-left{
        display: none !important;
    }
    
    .layout-img:before {
        width: 0 !important;
    }
    .product-content{
        grid-template-columns: repeat(2,1fr) !important;
        grid-gap: 50px !important;
        margin-left: 0 !important;
        .product-item{
            width: 80% !important;
            max-width: 300px;
            justify-self: center;
        }
    }
    .food-list{
        grid-template-columns: repeat(2,1fr) !important;
    }
    .menu-list{
        grid-template-columns: repeat(2,1fr) !important;
        grid-template-rows: repeat(3,250px) !important;
        grid-gap: 10px;
        grid-template-areas: 
        "h1 h2"
        "h3 h4"
        "h5 h0" !important;
    }
    .service{
        grid-template-columns: 100%;
        grid-template-rows: 250px auto;
        grid-gap: 10px 0;
        &-media{
            display: block;
            padding: 0;
            // padding-top: 56.25% !important;
            // position: relative;
            // height: 0 !important;
            // margin-bottom: 20px;
        }
        // &-img{
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     object-fit: cover;
        // }
        &-content{
            padding: 20px;
        }
        &-content:before{
            width: 100% !important;
        }
        &-title{
            font-size:2rem;
        }
        span{
            font-size: 1rem;
        }
        i{
            font-size:1rem;
        }
    }
}
@media screen and (max-width: 767px) {
    .brand-heading{
        font-size: 1.5rem;
    }
    .product-content{
        grid-template-columns: 100% !important;
    }
    .header-layout{
        display: grid;
        grid-template-columns: 100% !important;
        grid-gap: 20px 0 !important;
        justify-self: center;
    }
    .header-content{
        padding:10px 20px;
    }
    .layout-img{
        max-width:300px;
        max-height:300px;
        margin:auto;
    }
    .menu-list{
        grid-template-columns: 100% !important;
        grid-template-rows: repeat(5,250px) !important;
        grid-gap: 10px;
        grid-template-areas: 
        "h1"
        "h2"
        "h3"
        "h4"
        "h5" !important;
    }
    .food-list{
        grid-template-columns: 100% !important;
    }
    // card
    .card{
        flex-direction: column;
        padding: 0 0 10px 0;
        align-items: unset; 
    }
    .card-media{
        width:100%;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        margin-bottom: 10px;
    }
    .card-number{
        top:20px;
        left:20px;
    }
    .card-content{
        padding:20px;
    }
    .card-social{
        flex-direction: row;
        width: auto;
        height:80px;
        margin: 0 10px;
    }
}


